{% extends "maket.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block breadcrumps %}
    <ul class="breadcrumbs">
        <li><a href="{{ url_for('index') }}"><i class="fa fa-dashboard"></i>Главная страница</a></li>
        <li>Направления</li>
    </ul>
{% endblock %}

{% block content %}
    <a href="{{ url_for('abitur.view_hum') }}">
        <div class="small-4 columns main-modules-wrapper">
            <div class="main-modules-wrapper-img">
                <img src="{{ url_for('static', filename='img/icons/open-book.png') }}" alt="Потенциальные абитуриенты">
            </div>
            <div class="main-modules-wrapper-description">
                Гуманитарные направления
            </div>
        </div>
    </a>
    <a href="{{ url_for('abitur.view_tec') }}">
        <div class="small-4 columns main-modules-wrapper">
            <div class="main-modules-wrapper-img">
                <img src="{{ url_for('static', filename='img/icons/physics.png') }}" alt="Потенциальные абитуриенты">
            </div>
            <div class="main-modules-wrapper-description">
                Технические направления
            </div>
        </div>
    </a>
    <a href="{{ url_for('abitur.view_nat') }}">
        <div class="small-4 columns main-modules-wrapper">
            <div class="main-modules-wrapper-img">
                <img src="{{ url_for('static', filename='img/icons/test-tubes.png') }}" alt="Потенциальные абитуриенты">
            </div>
            <div class="main-modules-wrapper-description">
                Естественно-научные направления
            </div>
        </div>
    </a>
{% endblock %}