{% extends "maket.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block breadcrumps %}
    <ul class="breadcrumbs">
        <li><a href="{{ url_for('index') }}"><i class="fa fa-dashboard"></i>Главная страница</a></li>
        <li><a href="{{ url_for('danger') }}"><i class="fa fa-dashboard"></i>Опасно</a></li>
        <li>Удаление абитуриента</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="grid-x grid-padding-x">
        <div class="cell medium-2 medium-cell-block-y">
            <h2>Фильтры</h2>
            <div class="grid-container callout secondary">
                <div class="grid-x grid-padding-x">
                    <div class="cell">

                    </div>
                </div>
            </div>
        </div>
        <div class="cell medium-10 medium-cell-block-y">
            <table class="unstriped">
                <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Комментарий</th>
                    <th width="150">Статус</th>
                </tr>
                </thead>
                <tbody>
                {% for abitur in abiturs %}
                    <tr class="f-{{ abitur.city_id }} down">
                        <td>{{ abitur.last_name }} {{ abitur.first_name }} {{ abitur.middle_name }}</td>
                        <td>
                            <div name="comment" id="comment">{{ abitur.comment }}</div>
                        </td>
                        <td>{{ abitur.id_status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

