<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/minF.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.autocomplete.css') }} ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-layout.css') }} ">

    </head>
<body>
    <div class="overlay" style="display:none;">
        <div class="preloader cssload-square">
            <div class="cssload-square-part cssload-square-green"></div>
            <div class="cssload-square-part cssload-square-pink"></div>
            <div class="cssload-square-blend"></div>
        </div>
    </div>

    <div class="main-wrapper row">
        <!--header-->
        <div class="main-header columns">
            <div class="large-7 medium-7 small-7 columns">
                <div class="columns">
                    <div class="large-3 medium-3 small-3 columns">
                        <a href="/"><img src="https://finance.ugrasu.ru/img/logo.png" class="main-logo" /></a>
                    </div>
                    <div class="large-9 medium-9 small-9 columns">
                        <div class="main-title-text">Югорский государственный университет<br>Потенциальные абитуриенты<br>
                            <div class="grid-container callout alert">
                                <div class="grid-x grid-padding-x">
                                    <div class="cell">
                                        Тестовая версия
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="main-hr">
                        <div class="main-module-name">
                             Главная страница
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-5 medium-5 small-5 columns">
                <div class="columns">
                    <i class="material-icons main-header-icon">account_box</i>
                    <div class="large-9 medium-9 small-9 columns">
                        <p class="main-header-paragraph">
                            <span class="main-header-text">Здравствуйте, гость!</span>
                        </p>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
        <!--content-->
        <div class="main-content columns">
            <div class="breadcrumbs-wrapper">
                {% block breadcrumps %}{% endblock %}
            </div>
            <div class="columns">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block modal %}{% endblock %}
        <!--footer-->
        <div class="main-footer">
            <div class="large-12 medium-12 small-12">
                <p class="main-copyright">© 2018 г. Icons made by
                    <a href="https://www.flaticon.com/authors/popcorns-arts" style="color:#144096;!important;" title="Icon Pond">Icon Pond</a> from
                    <a href="https://www.flaticon.com/" style="color:#144096;!important;" title="Flaticon">www.flaticon.com</a> is licensed by
                    <a href="http://creativecommons.org/licenses/by/3.0/" style="color:#144096;!important;" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                </p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>


    <script src="{{ url_for('static', filename='js/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/what-input.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
    $(function(){
        $('select').change(function(){
            $('section tr').show();
            $('select').each(function(){
                var val=this.value
                if (val!='') {
                    val='c-'+val;
                    $('section tr:not([data-game="'+val+'"])').hide();
                    $('.no-hide').show();
                };
            });
        });
    });
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>